.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 40%;
  margin: auto;
  
}
.addNew {
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  background: green;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
.addNew:hover {
  background: orange;
  color: black;
}
h1 {
  color: red;
}

.edit {
  background: rgb(93, 159, 233);
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.5s;
}
.edit:hover {
  background: #61dafb;
  color: #282c34;

}
.del {
  background: darkgoldenrod;
  color: whitesmoke;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.5s;
}
.del:hover {
  background: orange;
  color: #282c34;

}
th, td {
  border: 1px solid green;
  padding: 10px;
}